.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.container {
    margin: 1rem 1rem 1rem 1rem;
    padding: 2rem 2rem 2rem 2rem;
    border: 1px solid black;
    height: 5rem;
    width: 10rem;
}

.login-button {
    color: red;
}

.other-login-button {
    color: green;
}